#  Types of Operators


# Arithmetic Operators
# Comparison (Relational) Operators
# Assignment Operators
# Logical Operators
# Bitwise Operators
# Membership Operators
# Identity Operators

# Arithemtic operators

# + operator  is used in int, float, string,list,tuple, 
# it gives addition
# give error message when used with set and dictionary

In [ ]:
3 + 3 #int

In [5]:
5.2 + 3.0 #float

8.2

In [18]:
"usama "  +   "  shahzad" #string

'usama   shahzad'

In [10]:
["A","B"] + ["C","D"] #list

['A', 'B', 'C', 'D']

In [11]:
(1,2) + (3,4) #tuple

(1, 2, 3, 4)

In [12]:
{1,2} + {3,4} #set

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [16]:
{"A":"1","B":"2"} + {"C":"3","D":"4"} #dictionary

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

# "-" operator is used with int,float,set 
# it gives subtraction

In [19]:
3 - 7 #int

-4

In [20]:
3.0 - 4.2 #float

-1.2000000000000002

In [23]:
{1,2,3,5} - {3,4,1,7}#set

{2, 5}

#  * operator is used with int,float,string,list,
# it gives multiplication
# give error message when used with set and dictionary

In [24]:
3 * 5 #int

15

In [25]:
3.0 * 15.0 #float

45.0

In [26]:
"A" * 3 #string

'AAA'

In [30]:
["1","2"] * 2 #list

['1', '2', '1', '2']

In [31]:
[1,2] * 2 #list

[1, 2, 1, 2]

In [33]:
(1,2,3) * 3 #tuple

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [34]:
{"A":3,"B":2} * 2 #it cannot used with set and dictionary

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

# / operator is used with int, float
# it gives division

In [35]:
4 / 12 #int

0.3333333333333333

In [50]:
3.3 / 12 #float

0.27499999999999997

# % is operator is used with int, float 
# it gives remainder

In [37]:
15 % 4 #int

1

In [39]:
12.0 % 4.0 #float

0.0

In [42]:
12.5 % 3 #float

0.5

// operator is used with int,float 
#Floor division - division that results into whole number adjusted to the left in the number line
it gives quotient

In [49]:
7 // 4 #int

1

In [47]:
25 // 3 #int

8

In [48]:
22.2 // 3 #float

7.0

# ** Exponent - left operand raised to the power of right
# it gives the power to 2nd operand if two operand is used

In [51]:
3 ** 2 #int

9

In [54]:
4 ** 5 #int

1024

# Comparison (Relational) Operators
== equal > grather then < less then >= grather then equal <= less then equal != not equal <> not equal

# == operator is used to compare to operand and return true or false

In [67]:
"abc" == "abc" #string

True

In [68]:
"abc" == "abC" #string

False

In [66]:
133 == 133 #int

True

In [69]:
133 == 123 #int

False

In [70]:
[1,2,3] == [1,2,3] #list

True

# > operator

In [72]:
10 > 6

True

In [71]:
6 > 10

False

In [73]:
10 > 10

False

In [93]:
#ASCII VALUES COMPARE 
print("A" > "B")
print(ord("A"))
print(ord("B"))

False
65
66

In [99]:
#ASCII VALUES COMPARE 
print(9 > 3)
print(ord("9"))
print(ord("3"))

True
57
51

# < operator

In [74]:
10 < 6

False

In [75]:
6 < 10

True

In [76]:
10 < 10

False

# >= operator

In [77]:
12 >= 9

True

In [78]:
9 >= 12

False

In [79]:
12 >= 12

True

# <= operator

In [80]:
12 <= 9

False

In [81]:
9 <= 12

True

In [82]:
12 <= 12

True

# != operator 
# it means not equal to

In [83]:
"usama" != "Usama" #string

True

In [85]:
"usama" != "usama"#string

False

In [87]:
2 != 2.4 #int

True

In [88]:
2 != 2.0 #int

False

In [89]:
2 <> 2.0

SyntaxError: invalid syntax (<ipython-input-89-56ff9459579d>, line 1)

# Assignment Operators

= += -= *= **= /= //= %=

In [103]:
a = 15
print(a)

15

In [102]:
a = 12
a = 2
a = 22
a = 88
print(a)

88

In [104]:
a = 11
a = a + 2 # 11 + 2 = 13
a = a + 3 # 13 + 3 = 16
a = a + 4 # 16 + 4 = 20
print(a)

20

In [105]:
a = 11
a += 22
a += 33
a += 44
print(a)

110

In [106]:
a = "Ali"
a += "Bilal" # "Ali" + "Bilal" = "AliBilal"
a += "Camera" # "AliBilal" + "Camera" = "AliBilalCamera"
print(a)

AliBilalCamera

In [107]:
a = 10
a -= 2 # 8
a -= 3 # 5
a -= 4 # 1
print(a)

1

In [109]:
a = 1
a *= 22 # 22
a *= 3 # 66
a *= 4 # 264
print(a)

264

In [117]:
a = "Ali "
a *= 3
print(a)

Ali Ali Ali

In [110]:
a = 200
a /= 5
a /= 5
print(a)

8.0

In [111]:
a = 200
a //= 2
a //= 2
print(a) #give answer in whole number no points invloved

50

In [114]:
a = 3
a **= 3 # 3 X 3 = 27
a **= 3 # 27 X 3 = 19683
print(a)

19683

In [115]:
a = 211
a %= 50
print(a)#it gives remainder

11

# logical operators

In [ ]:
and = & or = | not !=, <>

# and operator and its symbol & 
# return true if both the operands are true else false 
# it means "MUST"

In [119]:
a = "1"
b = "2"
c = "3"
d = "4"
print((a=="1") & (b=="2") & (c=="3") & (d=="4"))
print(a=="1" and b=="2" and c=="3" and d=="4")

True
True

# or operator and its symbol is |
# returns true if one operand is true and false in only if both the operands are false 
# it returns optional

In [54]:
user = input("User Name")
password = input("Password")
print((user == "usama") | (user == "1234") |  (user =="Abc") & (password=="123")) #or symbol used

User Name1234
Password123
True

In [17]:
user = input("User Name")
password = input("Password")

(user == "usama" or user == "1234" or user =="Abc") and password=="123"

User Name1234
Password123

True

# not operator is used to negate the answers if true it gives false and vice-versa
# it symbols is != ,<>

In [18]:
a = True
print(not a)

False

In [27]:

not (True & True)

False

In [20]:

not (True | True)

False

# Bit-wise operators 
& = and  | = or  ~ = negation ^ = xor << = left-shift >> = right-shift

In [34]:
#it first convert the numbers into  binary number and then perfom operations 
4 & 3 # here 4 = 100 and 3 = 011 after performing and operators it gives Ans = 0

0

In [ ]:
#### it first convert the numbers into  binary number and then perfom operations 
4 | 3 # here 4 = 100 and 3 = 011 after performing and operators it gives Ans = 7

In [37]:
#it first convert the numbers into  binary number and then perfom operations 
4 ^ 3 # here 4 = 100 and 3 = 011 after performing and operators it gives Ans = 7

7

In [40]:
#it first convert the numbers into  binary number and then perfom operations
# we can find negation by 2's complemnet method 
~12 # here 12 = 00001100 and its compliment is change 0 by 1 and vice-versa \ 
#it gives 11110011 and then add 1 in the answers it gives the compliment of 12

-13

In [44]:
#it first convert the numbers into  binary number and then perfom operations
10 << 2  # here 10 = 1010 and after performing << operators it gives Ans = 40 bcz in left shift we place zeros on left and in this case after placing 2 zeros 10 = 101000 which is the binary of 40

40

In [45]:
#it first convert the numbers into  binary number and then perfom operations
10 << 2  # here 10 = 1010 and after performing << operators it gives Ans = 2 bcz in right-shift we place zeros on right and in this case after placing 2 zeros 10 = 10 which is the binary of 2

2


# Membership Operators

# in and not in keywords is used in membership operators

In [51]:
x = 'Hello world'
y = {1:'a',2:'b'}
print("Hello" in x)
print("h" in x) #bcz it is case-sensitve language
print(1 in y)
print('a' in y) #bcz key is used in dictinary

True
False
True
False

# Identity operators

In [52]:
#is True if the operands are identical (refer to the same object)	x is True
# is not True if the operands are not identical (do not refer to the same object) x is false
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]
print(x1 is not y1)# here x1 and y1 is integers so they are equal and identical 
print(x2 is y2) # here x2 and y2 is strings so they are equal and identical 
print(x3 is y3)# here x3 and y3 is in list  so they are not equal and identical because interpreter locates them separately in memory

False
True
False

# Control flow

# if, else elif
if Logic: code run if logic True else: code run if logic False

In [68]:
user = input("User Name : ")
password = input("Password :  ") 

if (user == "usama@gmail.com") or  (user == "1234") or  (user =="Abc") and  (password=="123"):
    print("valid account")
else:
    print("invalid account")

User Name : usama@gmail.com
Password :  123
valid account